<div class="container-fluid">
  <div class="container about">
    <h1>About Us</h1>
    <p>
      Selamat Datang di Webstore <b>Al Barr Mart</b>. Yang dimana sebuah website
      shop digital di masa kini dengan teknologi<br />
      yang semakin terus berkembang. Tak menutup kemungkinan dengan adanya
      webstore ini, <br />
      jangkauannya pasti akan luas. Marketing online pun menjadi pedang bagi
      kami, ditambah lagi dengan<br />
      <b>SEO</b><i> (Search Engine Optimization) </i>yang sangat berguna sekali
      demi meningkatkan<br />
      trafik kunjungan webstore ini.
    </p>
    <br />
    <p>
      <b>Al Barr Mart</b> di dalam webstorenya, dia menjual bermacam-macam
      barang hingga makanan,<br />
      seperti kebutuhan pokok sehari-hari, makanan cemilan, barang-barang
      furniture, <br />peralatan rumah tangga dan masih banyak yang lainnya.
      Dengan barang <br />
      yang terjangkau harganya dari masyarakat minimalis hingga tinggi dalam
      segi perekonomian.
    </p>
    <br />
    <p>
      <b>Ayoo..!!!</b> Buruan berbelanja di al bart mart, sekaligus menjadi
      mitra langganan buyer kami, <br />
      karna akan ada banyak diskon yang menanti anda, bonus berbelanja hingga
      <b>Doorprize </b><br />
      bagi langganan kami sebagai buyer.
    </p>
    <br />
    <div class="col-md-4">
      <h3>Owner by Muhammad Hamzah</h3>
    </div>
    <a class="mrgn" routerLink="/albarrmart/home" routerLinkActive="active"> Back to Home</a>
  </div>
</div>
