<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 15px; color: white">Loading To Registerpage.</p>
</ngx-spinner>
<div class="container-fluid" id="bg">
  <div class="row">
    <div class="col-md-6 mt-5 box-rgs">
      <div class="col-md-11 mt-5 set-1">
        <div class="box-title">
          <h1><span>Al Barr Mart</span> Register</h1>
        </div>
        <div class="box-regs">
          <form [formGroup]="register">
            <div class="form-floating mb-3 form-group">
              <input
                type="email"
                class="form-control"
                id="username"
                formControlName="Username"
                name="Username"
                required
              />
              <label for="floatingInput"
                ><fa-icon [icon]="faUser" class="mrgn"></fa-icon>Username</label
              >
              <span
                *ngIf="
                  !register.get('Username')?.valid &&
                  register.get('Username')?.touched
                "
                >Please enter a valid username!</span
              >
            </div>
            <div class="form-floating mb-3 form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="Email"
                name="Email"
                required
              />
              <label for="floatingInput"
                ><fa-icon [icon]="faEnvelope" class="mrgn"></fa-icon>Email
                address</label
              >
              <span
                *ngIf="
                  !register.get('Email')?.valid &&
                  register.get('Email')?.touched
                "
                >Please enter a valid email!</span
              >
            </div>
            <div class="form-floating form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="Password"
                name="Password"
                required
              />
              <label for="floatingPassword"
                ><fa-icon [icon]="faKey" class="mrgn"></fa-icon>Password</label
              >
              <span
                *ngIf="
                  !register.get('Password')?.valid &&
                  register.get('Password')?.touched
                "
                >Password must be less than 8 character!</span
              >
            </div>
            <div class="d-grid gap-2 mt-3">
              <button
                class="btn btn-primary"
                type="submit"
                (click)="onSubmit()"
              >
                Register
              </button>
            </div>
            <div class="cold-md-12 login">
              <span>Have already an account ?</span
              ><a routerLink="/albarrmart/login" routerLinkActive="active">
                Login Here</a
              >
            </div>
            <div class="col-md-12 about">
              <a routerLink="/albarrmart/about" routerLinkActive="active"
                >About</a
              >
              <a routerLink="/albarrmart/home" routerLinkActive="active"
                >Home</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
