<div class="container mt-4">
  <h1>End-of Year Product Diskon 25%</h1>
</div>

<div class="container">
  <div class="row">
    <div class="card" style="width: 13rem" *ngFor="let products of productPilihan">
      <img src="{{ products.Foto_Item }}" class="card-img-top" alt="" />
      <div class="card-body">
        <h3 class="card-title" style="height: 4rem"><b>{{ products.Nama_Item }}</b></h3>
        <h5 class="card-text">
          {{ products.Harga_Item | currency: "IDR "}}
        </h5>
        <a href="#" class="btn btn-primary">+ Keranjang</a>
      </div>
    </div>
  </div>
</div>
