<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 15px; color: white">Loading To Productpage..</p>
</ngx-spinner>
<app-navbar></app-navbar>
<div class="container-fluid start">
  <div class="container">
    <h1>Product Kaos-Hoddie-Sweater Distro</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 11rem" *ngFor="let product of products">
        <img
          src="{{ product.Foto_Item }}"
          class="card-img-top"
          alt="Item Product Image"
        />
        <div class="card-body">
          <h3 class="card-title p-1" style="height: 4rem">
            <a class="title-link">{{ product.Nama_Item }}</a>
          </h3>
          <h5 class="card-text">{{ product.Harga_Item | currency: "IDR " }}</h5>
          <a class="btn btn-primary detail" (click)="addCart(product)">+ Keranjang</a>
          <a class="btn btn-primary" (click)="onSelect(product)">Lihat Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>
