<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 15px; color: white">Loading To Loginpage..</p>
</ngx-spinner>

<div class="container-fluid" id="bg">
  <div class="row">
    <div class="col-md-6 mt-5 box-rgs">
      <div class="col-md-11 mt-5 set-1">
        <div class="box-title">
          <h1><span>Al Barr Mart</span> Login</h1>
        </div>
        <div class="box-regs">
          <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
            <div class="form-floating mb-3 form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                ngModel
                name="Email" required Email
              />
              <label for="floatingInput"
                ><fa-icon [icon]="faEnvelope" class="mrgn"></fa-icon>Email
                address</label
              >
            </div>
            <div class="form-floating form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                ngModel
                name="Password" required
              />
              <label for="floatingPassword"
                ><fa-icon [icon]="faKey" class="mrgn"></fa-icon>Password</label
              >
            </div>
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="cold-md-12 login">
              <span>Have'nt an account ?</span
              ><a routerLink="/albarrmart/register" routerLinkActive="active">
                Register Here</a
              >
            </div>
            <div class="col-md-12 about">
              <a routerLink="/albarrmart/about" routerLinkActive="active"
                >About</a
              >
              <a routerLink="/albarrmart/home" routerLinkActive="active"
                >Home</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
