h1 {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid;
}
.container .row .card {
  box-shadow: 1px 1px 1px black;
  margin-left: 10px;
  margin-top: 10px;
}
.container .row .card {
  box-shadow: 1px 1px 1px black;
  margin: 10px auto;
}
.container .row .card .card-body h3 {
  text-align: center;
}
.container .row .card .card-body h3 .title-link {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.container .row .card .card-body h5 {
  text-align: center;
}
.container .row .card .card-body .btn {
  background-color: #14279b;
  border: none;
  font-size: 13px;
  padding: 5px;
  float: right;
  margin: 5px 5px 10px 0;
}
.container .row .card .card-body .btn:hover {
  background-color: #5c7aea;
}