<app-navbar></app-navbar>
<ng-template #noProduct> </ng-template>
<div class="container-fluid set">
  <div class="col-md-4">
    <h1 class="h1">Detail Product</h1>
  </div>

  <div class="col-md-6 img-cart border">
    <div class="row">
      <div class="col-md-5">
        <img
          src="{{ product.Foto_Item }}"
          class="img-fluid"
          style="height: 300px"
          alt="Cart Empty Image"
        />
      </div>

      <div class="col-md-6">
        <table>
          <tr>
            <th>Nama Product</th>
            <td>:</td>
            <td>{{ product.Nama_Item }}</td>
          </tr>
          <tr>
            <th>Harga Product</th>
            <td>:</td>
            <td>{{ product.Harga_Item | currency: "IDR " }}</td>
          </tr>
          <tr>
            <th>Stock Product</th>
            <td>:</td>
            <td>{{ product.Stock_Item }}</td>
          </tr>
          <!-- <tr>
            <th>Deskripsi Product :</th>
            <td>Cocok untuk dimasak di malam hari</td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6 title-cart">
    <h2 class="h2">Belanja Kuy Gasss.. Klick Tombol Dibawah Untuk ORder....</h2>
    <p><a routerLink class="btn btn-primary order">Order Sekarang</a></p>
  </div>
</div>
